CONFIG_CROSS_COMPILE=tools/toolchain/arm-none-eabi/bin/arm-none-eabi-
CONFIG_CPU_ARMV7_A=y
CONFIG_INSTRUCTION_SET=A32
CONFIG_PLAT=realview-pb-a8
CONFIG_APP_NAME=template
CONFIG_SYS_TEXT_BASE=0x000000
CONFIG_OUTPUT_DIR=output
CONFIG_DEBUG_BUILD=y
CONFIG_OPTIMIZE_LEVEL=0
CONFIG_VERBOSE=y