CONFIG_CROSS_COMPILE=tools/toolchain/arm-none-eabi/bin/arm-none-eabi-
CONFIG_ARCH=aarch32
CONFIG_ARM_ARCH_MAJOR=7
CONFIG_ARM_ARCH_MINOR=0
CONFIG_ARM_ARCH_PROFILE=a
CONFIG_AARCH32_INSTRUCTION_SET=A32
CONFIG_DEBUG=y
CONFIG_VERBOSE=y
CONFIG_PLAT=
CONFIG_WARNING_LEVEL=1
CONFIG_ERROR=y
COFIG_REALVIEW_PB_A8=y